{
	"env": {
		"browser": true,
		"es2021": true,
		"jest/globals": true
	},
	"extends": [
		"airbnb",
		"eslint:recommended",
		"plugin:react/recommended",
		"prettier",
		"plugin:jest/recommended",
		"plugin:jsx-a11y/recommended"
	],
	"overrides": [],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["react", "jest", "jsx-a11y", "better-styled-components", "prettier"],
	"rules": {
		"no-underscore-dangle": ["error", { "allowAfterThisConstructor": true }],
		"import/extensions": ["error", "ignorePackages"],
		"semi": ["error", "always"],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "single"],
		"no-console": "warn",
		"no-shadow": "error",
		"no-use-before-define": [
			"error",
			{
				"functions": true,
				"classes": true,
				"variables": true,
				"allowNamedExports": false
			}
		],
		"no-param-reassign": ["error", { "props": false }],
		"sort-keys": "error",
		"no-unused-vars": "warn",
		"no-var": "error",
		"eqeqeq": ["error", "always"],
		"no-empty-function": ["error", { "allow": ["methods"] }],
		"no-else-return": ["error", { "allowElseIf": true }],
		"no-nested-ternary": "error",
		"jsx-a11y/rule-name": 0,
		"react/require-default-props": "off",
		"react/prop-types": "off",
		"no-restricted-exports": "off",
		"react/react-in-jsx-scope": "off",
		"react/jsx-props-no-spreading": "off",
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"better-styled-components/sort-declarations-alphabetically": "warn",
		"sort-imports": ["error", { "ignoreDeclarationSort": true }]
	}
}
